.IntroductionPage_Page {
/*    background-image: url("https://wallpapers.com/images/featured-full/vertical-monitor-zr2k1t6u1eyuw35y.jpg");*/
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 0;
    position: relative;
    height: 700px;
}

.IntroductionPage_Quote {
    font-size: 12.5px;
    margin-left: 50px;
    margin-right: 50px;
    top: 0;
    position: absolute;
    color: black;
}

.IntroductionPage_Welcome {
    font-size: 60px;
    font-weight: 700;
    margin-left: 20px;
    margin-right: 20px;
    top: 0px;
    position: absolute;
    font-family: 'Alex Brush';
    color: #0f0f0f;
    z-index: 999;
}